
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  height: 400px;
}

tr {
}

table {
  width: 300px;
}

td {
  line-height: 25px;
}

th:nth-child(1) {
  width: 100px;
}
th:nth-child(2) {
  width: 185px;
}

i.icon-pencil {
  position: absolute;
}

input.ng-invalid {
  border: 1px solid red;
}

.help-inline {
  font-size: 75%;
  color: red
}



.slide-enter, .slide-leave {
  -webkit-transition:all linear .3s;
}
.slide-enter>td, .slide-leave>td {
  -webkit-transition:left,line-height linear,cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;
  position: relative;
}



.slide-enter>td {
  left:300px;
  line-height: 0;
}
.slide-enter {
  opacity: 0;
}

.slide-enter-active>td {
  left:0;
  line-height: 25px;
}
.slide-enter-active {
  opacity: 1;
}



.slide-leave>td {
  left:0;
  line-height: 25px;
}
.slide-leave {
  opacity: 1;
}

.slide-leave.slide-leave-active>td {
  left:300px;
  line-height: 0;
}
.slide-leave.slide-leave-active {
  opacity: 0;
}


.slide-left-enter, .slide-left-leave,
.slide-right-enter, .slide-right-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;
  position: absolute;
}


.slide-right-enter { margin-left: 300px;  opacity: 0; }
.slide-right-enter-active { margin-left: 0;      opacity: 1; }

.slide-right-leave { margin-left: 0;      opacity: 1; }
.slide-right-leave-active { margin-left: 300px;  opacity: 0; }


.slide-left-enter  { margin-left: -300px; opacity: 0; }
.slide-left-enter-active  { margin-left: 0;      opacity: 1; }

.slide-left-leave  { margin-left: 0;      opacity: 1; }
.slide-left-leave-active  { margin-left: -300px; opacity: 0; }
